body {
  font-family: helvetica,'Georgia',arial,sans-serif;
  color: #3C3C3C;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #3c3c3c;
}

h1 strong {
  text-transform: uppercase;
  font-weight: bold;
}

#container {
  width: 980px;
  margin:  0 auto;
}

#logo {
  /*position: absolute;*/
  position: relative;
  width: 907px;
margin: 0 auto;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

 .dynamic-canvas {

}

@-moz-keyframes wobblepath {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    25% {
        -webkit-transform: translate3d(3px,-3px,3px);
        -moz-transform: translate3d(3px,-3px,3px);
        -o-transform: translate3d(3px,-3px,3px);
        -ms-transform: translate3d(3px,-3px,3px);
        transform: translate3d(3px,-3px,3px);
    }

    50% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    75% {
        -webkit-transform: translate3d(-3px,3px,-3px);
        -moz-transform: translate3d(-3px,3px,-3px);
        -o-transform: translate3d(-3px,3px,-3px);
        -ms-transform: translate3d(-3px,3px,-3px);
        transform: translate3d(-3px,3px,-3px);
    };
}

@-webkit-keyframes wobblepath {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    25% {
        -webkit-transform: translate3d(3px,-3px,3px);
        -moz-transform: translate3d(3px,-3px,3px);
        -o-transform: translate3d(3px,-3px,3px);
        -ms-transform: translate3d(3px,-3px,3px);
        transform: translate3d(3px,-3px,3px);
    }

    50% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    75% {
        -webkit-transform: translate3d(-3px,3px,-3px);
        -moz-transform: translate3d(-3px,3px,-3px);
        -o-transform: translate3d(-3px,3px,-3px);
        -ms-transform: translate3d(-3px,3px,-3px);
        transform: translate3d(-3px,3px,-3px);
    };
}

@-o-keyframes wobblepath {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    25% {
        -webkit-transform: translate3d(3px,-3px,3px);
        -moz-transform: translate3d(3px,-3px,3px);
        -o-transform: translate3d(3px,-3px,3px);
        -ms-transform: translate3d(3px,-3px,3px);
        transform: translate3d(3px,-3px,3px);
    }

    50% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    75% {
        -webkit-transform: translate3d(-3px,3px,-3px);
        -moz-transform: translate3d(-3px,3px,-3px);
        -o-transform: translate3d(-3px,3px,-3px);
        -ms-transform: translate3d(-3px,3px,-3px);
        transform: translate3d(-3px,3px,-3px);
    };
}

@-ms-keyframes wobblepath {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    25% {
        -webkit-transform: translate3d(3px,-3px,3px);
        -moz-transform: translate3d(3px,-3px,3px);
        -o-transform: translate3d(3px,-3px,3px);
        -ms-transform: translate3d(3px,-3px,3px);
        transform: translate3d(3px,-3px,3px);
    }

    50% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    75% {
        -webkit-transform: translate3d(-3px,3px,-3px);
        -moz-transform: translate3d(-3px,3px,-3px);
        -o-transform: translate3d(-3px,3px,-3px);
        -ms-transform: translate3d(-3px,3px,-3px);
        transform: translate3d(-3px,3px,-3px);
    };
}

@keyframes wobblepath {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    25% {
        -webkit-transform: translate3d(3px,-3px,3px);
        -moz-transform: translate3d(3px,-3px,3px);
        -o-transform: translate3d(3px,-3px,3px);
        -ms-transform: translate3d(3px,-3px,3px);
        transform: translate3d(3px,-3px,3px);
    }

    50% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    75% {
        -webkit-transform: translate3d(-3px,3px,-3px);
        -moz-transform: translate3d(-3px,3px,-3px);
        -o-transform: translate3d(-3px,3px,-3px);
        -ms-transform: translate3d(-3px,3px,-3px);
        transform: translate3d(-3px,3px,-3px);
    };
}

/*#logo, .dynamic-canvas, svg {
  height: 100%;
  width: 100%;
  margin: 0;
}

#logo, svg {
  padding-top: 50px;
  width: intrinsic;
  margin: 0 auto;
}*/